/* Dashboard Styles */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal del fondo */
}

.main-container {
    width: 100%;
    padding: 20px;
}

.main-content {
    width: 100%;
    padding: 20px;
    background-color: #000000;
    overflow-y: auto;
    overflow-x: hidden; /* Asegura que el contenido principal no se desplace horizontalmente */
}

.popular-slots-section,
.live-casino-section,
.new-releases-section,
.game-shows-section {
    width: 100%;
    margin-bottom: 40px;
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 20px;
    margin-right: 10px;
}

.sub-heading {
    font-size: 20px;
}

.slots-wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal del contenedor de slots */
}

.slots-container {
    display: flex;
    gap: 15px; /* Incrementa la separación entre las tarjetas */
    overflow-x: auto;
    scrollbar-width: none;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.slot-card {
    background-color: transparent;
    padding: 15px; /* Incrementa el padding para un mayor tamaño */
    text-align: center;
    flex: 0 0 auto;
    width: 150px; /* Incrementa el ancho de las tarjetas */
    cursor: pointer;
    scroll-snap-align: start;
}

.slot-image {
    width: 100%;
    max-width: 150px; /* Incrementa el tamaño máximo de la imagen */
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(128, 0, 128, 0.5);
}

/* Fading effect on the right side */
.fade-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    pointer-events: none;
}

/* Responsiveness */
@media (max-width: 768px) {
    .slot-card {
        width: 120px; /* Ajuste para pantallas más pequeñas */
    }

    .slot-image {
        max-width: 120px; /* Ajuste para pantallas más pequeñas */
    }

    .slots-container {
        display: flex;
        gap: 10px; /* Reduce el espacio entre tarjetas en pantallas pequeñas */
        overflow-x: auto;
        scrollbar-width: none;
        padding-bottom: 10px;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }
}
